<!DOCTYPE html>
<html class="no-js" lang="zxx">

<% include global/head %>

<title>About</title>

<body>

    <% include global/header %>

    <!--== Start Page Header Area ==-->
    <!-- remove top-div below
    <div class="page-header-area bg-img top-div" data-bg="images/page-header.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 m-auto text-center">
                    <div class="page-header-content-inner">
                        <div class="page-header-content">
                            <h2>KNOW ABOUT BUSINEX THE ULTIMATE TEAM</h2>
                            <p>Businex always try to provide the best Business Solutions for Clinets
                                to grow up their Business very sharply and smoothly.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <!--== End Page Header Area ==-->

    <!--== Start About Area Wrapper ==-->
    <div class="about-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="about-content about-content--2">
                        <div class="about-since">Since 2011</div>

                        <h2>The Premier Club at Wharton for Students Interested in Management, Leadership, and Consulting</h2>

                        <p style="padding-top:10px">We practice management consulting through our Applied Management Program (AMP), as well as finance, corporate relations, and marketing through our other committees.  We provide speaker events and educational opportunities to our members, and hold frequent social and networking events.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End About Area Wrapper ==-->

    <!--== Start About Area Wrapper ==-->
    <div class="about-mid bg-offwhite">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="about-content about-content--2">

                        <h4>Applied Management Program (AMP)</h2>

                        <p style="padding-top:10px">Our Applied Management Program (AMP) is designed to provide its members with education and real-world experience in the world of management consulting.
The AMP team provides pro bono consulting services for companies in West Philadelphia, New York City and beyond.  They also hold group discussions about articles and cases relating to finance, management consulting, entrepreneurship and more.  Recently, club board members have held a workshop on applied economics to sharpen and expand the group's consulting skill set.<br>For more details about our clients and the specific consulting services we offer, see our <a target="_blank" href="/clients">clients</a> page.
</p>
<a href="/clients" class="btn-about">MORE <i class="mdi mdi-chevron-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End About Area Wrapper ==-->

    <!--== Start About Area Wrapper ==-->
    <!--
    <div class="about-mid">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="about-content about-content--2">

                        <h4>Activities</h2>

                        <p style="padding-top:10px">T</p>
                        <a href="/activities" class="btn-about">MORE <i class="mdi mdi-chevron-double-right"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <!--== End About Area Wrapper ==-->

    <!--== Start About Area Wrapper ==-->
    <div class="about-mid">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="about-content about-content--2">

                        <h4>Community</h2>

                        <p style="padding-top:10px">Wharton Management Club is compromised of a diverse group of talented and driven individuals who share an interest in management and related subjects. Through close interaction within and between committees, WMC members get to know each other very well, and our community is very close-knit as a result.  We frequently hold of all-club social events and study breaks to maintain these relationships.  Additionally, we host speaker/discussion sessions, networking events, and professor luncheons to strengthen our community and enrich our members with knowledge and experience.

</p>
<a href="/members" class="btn-about">MEMBERS <i class="mdi mdi-chevron-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End About Area Wrapper ==-->

    <!--== Start About Area Wrapper ==-->
    <div class="about-mid bg-offwhite">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="about-content about-content--2">

                        <h4>Committees</h2>

                        <p style="padding-top:10px">We are currently compromised of four main committees: <br>Applied Management Program (see above), Finance & Corporate Relations, Speakers & Events, and Marketing.
                          <br><br>
                          The Speakers & Events committee works on bringing in interesting and knowledgeable people involved in management and related fields to hold speaker sessions for the club.  They also plan socials, networking events, and other club-related events.
                          <br><br>
                          The Finance & Corporate Relations committee works on outreach to and ensurement of ROI for corporate sponsors, and handles the finances of the club. They also work on developing recruiting relationships with companies.
                          <br><br>
                          The Marketing committee is responsible for marketing WMC to potential members, clients, sponsors, recruiters, and potential event attendees on our website, list-serv, social media accounts, and more.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End About Area Wrapper ==-->

        <!--== Start About Area Wrapper ==-->
        <div class="about-mid">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="about-content about-content--2">

                            <h4>Executive Board Members</h2><br>
                              <p>Meet our executive team!</p><br>
                              <img src="/images/exec_team.jpg" alt="exec team" style="max-width: 80%; height: auto; width: auto;"><br><br><br><br>

                              <div class="row">

                              <% if(locals.bmembers){ %>

                                <% for (var i=0; i < bmembers.length; i++){ %>
                                  <% if(i%4==0 && i!= 0){ %> <!-- what if not 4 wide? -->
                        </div><br><div class="row">
                                    <% } %>
                              <div class="col-xs-12 col-s-12 col-lg-3 col-xl-3 col-md-3" align="center">
                                <div class="card pt-10">
                                  <img class="memberimage" src="<%- bmembers[i].photo %>" alt="<%- bmembers[i].name %>" height="200">
                                  <div class="contain">
                                    <h4 class="membername"><%- bmembers[i].name %></h4>
                                    <% if(bmembers[i].role != ""){%><p class="membertitle"><%= bmembers[i].role %></p><% } %>
                                    <p class="memberschoolyr"><%= bmembers[i].gradclass %></p>
                                    <p><a href="/member/<%- bmembers[i].name.toLowerCase().replace(/ /g,"") %>" class="memberbutton">More</a></p>
                                  </div>
                                </div>
                              </div>
                              <% } %>
                              <% } %>
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
      </div>
        <!--== End About Area Wrapper ==-->




    <% include global/footer %>

    <% include global/foot %>

</body>

</html>
