<!DOCTYPE html>
<html class="no-js" lang="zxx">

<% include global/head %>

<title>Member: <% member.name %></title>

<body>

    <% include global/header %>

    <div class="about-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="about-content about-content--2">

                        <h4>Member Bio</h2>

                        <p style="padding-top:10px">Meet <%= member.name %>, <% if(member.board === 'yes'){ %><%= member.role %><% } else { %>committee member in <%= member.teamsenglish %><% } %>.</p>

                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

  	<div class="container">

      <!-- Our Team starts -->


  <div class="row">












    <div class="col" align="center">
      <div class="card-member pt-10">
        <br>
        <img class="memberimagesingle" src="<%- member.photo %>" alt="<%- member.name %>" width="300px;">
        <div class="contain-member">
          <h4 class="membername"><%- member.name %></h4>
          <% if(member.role){%><p class="membertitle"><%= member.role %></p><% } %>
          <% if(member.gradclass){%><p class="memberschoolyr"><%= member.gradclass %></p><% } %>
          <% if(member.email){%><p class="memberschoolyr"><a href="mailto:<%= member.email %>"><%= member.email %></p></a><% } %>
          <% if(member.blurb){ %><br><p class="memberblurb"><%= member.blurb %></p><% } %><br>
  <% if(member.linkedin != ""){ %>
          <a target="_blank" href="<%- member.linkedin %>" title="LinkedIn" class="btn-sm btn-linkedin"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
          <br>
          <% } %>
          <p><a href="/members" class="memberbutton">Back</a></p>
          <br>
        </div>
      </div>
    </div>






  </div>
  <!-- /.row -->

      <!-- Our team ends -->

  				</div>
  	</section>

          <br><br>




    <% include global/footer %>

    <% include global/foot %>

</body>

</html>
